@import "../../../variables";
@import "../../../functions";

.sobreOEvento {
  display: flex;
  justify-content: center;
  margin: 70px 0px;

  &__wrapper {
    max-width: 1000px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;

    &__text {
      width: calc(50% - 30px);

      & button {
        background: transparent;
        color: white;
        border: 1px solid $primary-color;
        padding: 10px 15px;
        border-radius: 30px;
        transition: .5s;

        &:hover {
          background: $primary-color;
          cursor: pointer;
          transition: .5s;
        }
      }
    }

    &__img {
      width: calc(50% - 30px);
      max-width: 350px;

      & img {
        max-width: 100%;
        border-radius: 100%;
      }
    }
  }
}

.sobreOEvento__wrapper__text h5 {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-large;
}

.sobreOEvento__wrapper__text p {
  margin: 20px 0px 40px;
}
