@import "../../../variables";
@import "../../../functions";

.header {
  @include flex(row, space-between, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 89px;
  padding: 0 55px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  border-bottom: 3px solid $line-color;

  &__logo {
    @include flex(row, space-between, center);
    gap: 13px;

    & img {
      width: 68px;
      height: 68px;
    }

    &--texto {
      @include flex(column, center, center);

      & h1 {
        color: $primary-color;
        font-size: 26px;
        line-height: 1em;
      }

      & h2 {
        color: $secondary-color;
        font-size: 16px;
        letter-spacing: 3px;
        line-height: 1em;
      }
    }
  }
  .header__nav {
    @include flex(row, space-between, center);
    gap: 21px;
    list-style: none;

    & button {
      @include button($primary-color, $text-color);
    }
  }
}
