<header class="header">
  <div class="header__logo">
    <img
      class="header__logo--imagem"
      src="../../../assets/svg/header_icon.svg"
      alt="ícone da logo"
    />
    <div class="header__logo--texto">
      <h1>STARLIGHT</h1>
      <h2>GEEK PARTY</h2>
    </div>
  </div>
  <nav>
    <ul class="header__nav">
      <li class="header__nav--item"><a href="/">Início</a></li>
      <li class="header__nav--item"><a href="/">Sobre</a></li>
      <li class="header__nav--item"><a href="/">Galeria</a></li>
      <li class="header__nav--item">
        <button><a href="">COMPRAR</a></button>
      </li>
    </ul>
  </nav>
</header>
