@import "../../../variables";
@import "../../../functions";

.banner {
  @include flex(column, center, center);
  height: 100vh;
  width: 100vw;
  background: url(../../../assets/images/home_background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;

  &__titulo {
    &--destaque {
      color: $primary-color;
      text-transform: uppercase;
    }
  }

  &__countdown {
    @include flex(row, center, center);
  }
}
