$background-color: #010212;
$text-color: #e7e7e7;
$primary-color: #d20459;
$secondary-color: #6dfdfe;
$line-color: rgba(231, 231, 231, 0.13);

$font-family: "Roboto", sans-serif;
$font-size: 16px;
$font-weight: 400;
