$background-color: rgb(1, 2, 18);
$text-color: rgb(231, 231, 231);
$primary-color: rgb(210, 4, 89);
$secondary-color: rgb(109, 253, 254);
$line-color: rgba(231, 231, 231, 0.13);

$font-family: "Ysabeau Office", sans-serif;
$font-size: 16px;
$font-weight: 400;
