@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap");
@import "./variables";
@import "./functions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

:root {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

a {
  text-decoration: none;
  color: inherit;
}
